@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Music Website</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4IHh8d5RhOM?si=b2bLPwd-7dwtriPTallow=accelerometer; autoplay" frameborder="0" allowfullscreen></iframe>" 

    <div id="animated-element">
        Watch My Favorite Music Video
        <script src="script.js"></script>
    </div>

